
html,body{
    height: 100%;
    width: 100%;
}
a:link    { color: black; }
a:visited { color: black; }
a{
    text-decoration: none;
}
html{
    font-size: 10px;
}
body{
    display:flex;
    justify-content:center;
    align-items: center;
    background: #FFF6CE;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}
/*--------------------*/
.main {
    width: 100%;
    height: 100%;
}
.app{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.canvas{
    /* width: 90%;
    height: 80%; */
    background-color:#808080;
    border: 10px solid #D3D3D3;
    border-radius: 5px;
}

.points-container {
    display : flex;
    width: 100%;
    justify-content: space-around;   
}
.point {
    width: 30%;
    margin: 0;
}
.button {
    width: 70px;
}
.data-main-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.top-bar{
    list-style: none;
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #D3D3D3;
}
.top-bar__button{
    margin-left: 50px;
    background-color: #FFEA87;
    padding: 10px;
}
.main-body{
    position: fixed;
    top: 70px;
}