@import url('https://fonts.googleapis.com/css?family=Geo');

html,body{
    height: 100%;
    width: 100%;
}
a:link    { color: black; }
a:visited { color: black; }
a{
    text-decoration: none;
}
html{
    font-size: 10px;
}
body{
    display:flex;
    justify-content:center;
    align-items: center;
    /* background: #FFF6CE; */
    background: #5C9BFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: geo;
}
/*--------------------*/
.main {
    width: 100%;
    height: 100%;
}
.app{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.canvas{
    background-color:#808080;
    border: 10px solid #D3D3D3;
    border-radius: 5px;
}
.points-container {
    display : flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}
.point {
    /* width: 30%; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    margin-top: 6rem;
}
.button {
    width: 70px;
}
.data-main-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.top-bar{
    list-style: none;
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    /* background-color: #D3D3D3; */
    background-color: #3E1EE2;
}
.top-bar__button{
    margin-left: 50px;
    /* background-color: #FFEA87; */
    padding: 10px;
    z-index: 2;
}
.main-body{
    position: fixed;
    top: 90px;
}
.triangle{
    position: fixed;
    width: 0;
    height: 0;
    z-index: -1;
}
.top-one{
    top:0rem;
    left:0rem;
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
    border-left: 48.5px solid #3E8E99;
    z-index: 1;
    animation: leftToRight 4s linear infinite alternate
}
.top-two{
    top:0rem;
    right:0rem;
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
    border-left: 48.5px solid #B0D1B9;
    z-index: 1;
    animation: rightToLeft 3.5s linear infinite alternate
}
.top-three{
    top:0rem;
    left:0rem;
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
    border-left: 48.5px solid #55A7A4;
    z-index: 1;
    animation: leftToRight 3s linear infinite alternate
}
.top-four{
    top:0rem;
    right:0rem;
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
    border-left: 48.5px solid #203359;
    z-index: 1;
    animation: rightToLeft 2.75s linear infinite alternate
}
.top-five{
    top:0rem;
    left:0rem;
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
    border-left: 48.5px solid #0C265B;
    z-index: 1;
    animation: leftToRight 3.25s linear infinite alternate
}
.top-six{
    top:0rem;
    right:0rem;
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
    border-left: 48.5px solid #697592;
    z-index: 1;
    animation: rightToLeft 3.75s linear infinite alternate
}
@keyframes leftToRight{
    form {left: 0%; transform: rotateZ(0)}
    to {left : calc(100% - 48.5px); transform: rotateZ(1440deg)}
}
@keyframes rightToLeft{
    form {right: 0%; transform: rotateZ(0)}
    to {right : calc(100% - 48.5px); transform: rotateZ(1080deg)}
}
.one{
    top:0rem;
    left:0rem;
    border-top: 25rem solid transparent;
    border-bottom: 25rem solid transparent;
    border-left: 25rem solid #3E8E99;
    transform: rotateZ(-150deg);
  }
.two{
    bottom: 0;
    right: 0;
    border-top: 35rem solid transparent;
    border-bottom: 35rem solid transparent;
    border-left: 35rem solid #0C265B;
    transform: rotateZ(150deg);  
}
.three{
    bottom: -16rem;
    right: 10rem;
    border-top: 21rem solid transparent;
    border-bottom: 29rem solid transparent;
    border-left: 20rem solid #55A7A4;
    transform: rotateZ(50deg);
}
.four{
    top: 8rem;
    left: 19rem;
    border-top: 36rem solid transparent;
    border-bottom: 40rem solid transparent;
    border-left: 20rem solid #203359;
    transform: rotateZ(137deg);
}
.five{
    bottom: -13rem;
    left: 18rem;
    border-top: 29rem solid transparent;
    border-bottom: 29rem solid transparent;
    border-left: 20rem solid #B0D1B9;
    transform: rotateZ(43deg);
}
.six{
    top: 21rem;
    right: 23rem;
    border-top: 12rem solid transparent;
    border-bottom: 22rem solid transparent;
    border-left: 27rem solid #697592;
    transform: rotateZ(50deg);
}
.seven{
    top: -25rem;
    left: 57rem;
    border-top: 66rem solid transparent;
    border-bottom: 49rem solid transparent;
    border-left: 12rem solid #9FA6B6;
    transform: rotateZ(-59deg);
}